@use "../../partials/typography" as *;
@use "../../partials/variables" as *;

.courts {
  background-color: $secondary-color;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  &__list {
    padding: 1rem;
    margin-bottom: 0;
    margin-top: 4vh;
    max-height: 40vh;
    overflow-y: auto;

    &--second {
      margin-top: 1rem;
      padding-top: 0;
      width: 100%;

      @include desktop {
        max-height: 80vh;
        width: 75%;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 4px 11px -5px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    list-style: none;
    color: $primary-color;
    margin-bottom: 8px;
    background-color: $secondary-color;
    position: relative;
    margin-top: 1rem;
    padding: 0 1.5rem;

    @include desktop {
      justify-content: center;
      padding: 0 5rem;
    }
    @include tablet {
      justify-content: center;
      padding: 0 3rem;
    }

    &:hover {
      background-color: white;
    }

    &-header {
      color: $highlight-color;
      text-decoration: underline;
      text-decoration-color: black;
      position: relative;
    }
  }
  &__info {
    // width: 25vw;
    text-align: left;
    font-size: 0.85rem;
    color: black;
    padding: 0 1rem;

    @include tablet {
      font-size: 1rem;
    }

    @include desktop {
      font-size: 1.35rem;
    }

    &--name {
      font-size: 1rem;
      margin-bottom: -0.35rem;

      @include desktop {
        font-size: 1.5rem;
      }
    }
    &--address {
      color: $primary-color;

      @include desktop {
        font-size: 1.15rem;
      }
    }

    &-wrapper-1 {
      flex-grow: 4;
    }
  }
}

$easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);

.open {
  text-align: center;
  color: green;
  text-shadow: 0 0 20px green;

  @include tablet {
    font-size: 1.2rem;
    margin-right: 2rem;
  }
  @include desktop {
    font-size: 1.5rem;
  }
}
.closed {
  text-align: center;
  color: red;
  text-shadow: 0 0 20px red;
  @include tablet {
    font-size: 1.2rem;
    margin-right: 2rem;
  }
  @include desktop {
    font-size: 1.5rem;
  }
}
