@use "../../partials/typography" as *;
@use "../../partials/variables" as *;

.courts {
  background-color: $secondary-color;

  &__list {
    padding: 1rem;
    margin-bottom: 0;
    margin-top: 4vh;
    max-height: 40vh;
    overflow-y: auto;
    &--second {
      margin-top: 0;
      padding-top: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 4px 11px -5px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    list-style: none;
    color: $primary-color;
    margin-bottom: 8px;
    background-color: $secondary-color;
    position: relative;

    &:hover {
      background-color: $accent-color;
    }

    &-header {
      color: $highlight-color;
      text-decoration: underline;
      text-decoration-color: black;
      position: relative;
    }
  }
  &__info {
    width: 25vw;
    text-align: center;
    font-size: 0.85rem;
    color: black;

    @include tablet {
      font-size: 1rem;
    }

    @include desktop {
      font-size: 1.35rem;
    }
  }
}
