@use "../../partials/variables" as *;

.hero-wrap {
  overflow: hidden;
  position: relative;
  height: 29vh;

  @include tablet {
    height: 40vh;
  }
  @include desktop {
    height: 60vh;
  }
}

.hero {
  &__bg {
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;

    @include desktop {
      height: 100%;
    }
  }
  &__content {
    position: relative;
    text-align: right;
    margin-right: 2rem;
    padding-top: 6rem;
    @include desktop {
    }
  }
  &__cta {
    color: white;
    font-size: 1.5rem;

    @include tablet {
      font-size: 2.5rem;
    }
    @include desktop {
      width: 75vw;
      font-size: 3.2rem;
    }
  }
  &__desc {
    color: white;
  }
  &__button {
    background-color: white;
    border: 0px;
    border-radius: 4px;
    height: 2rem;

    @include tablet {
      height: 3rem;
      width: 10rem;
      font-size: 1rem;
    }
  }

  &-wrap {
    @include desktop {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.features {
  &__img {
    height: 220px;

    @include tablet {
      height: 300px;
    }
    @include desktop {
      height: 600px;
    }

    &--ranks {
      height: auto;
      width: 100%;
      padding: 0 1rem;
      padding-bottom: 1rem;

      @include desktop {
        width: 75%;
      }
    }
  }
  &---left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $secondary-color;

    @include tablet {
      height: 25vh;
    }
    @include desktop {
      height: 45vh;
    }
  }
  &---right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    @include tablet {
      height: 25vh;
    }
    @include desktop {
      height: 45vh;
    }
  }
  &---col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $secondary-color;

    @include tablet {
      height: 25vh;
    }
    @include desktop {
      height: 45vh;
    }
  }

  &__content {
    line-height: 1.25rem;
    padding: 1rem;
    margin-bottom: 0;
    color: black;

    @include tablet {
      font-size: 1.5rem;
      line-height: 2rem;
      height: auto;
    }
    @include desktop {
      font-size: 2rem;
      line-height: 4rem;
      padding-left: 5rem;
      padding-right: 5rem;
    }
    &--white {
      color: white;
    }
  }
}

.paddle {
  rotate: -35deg;
  height: 200px;

  @include desktop {
    height: 400px;
  }
}
