@use "../../partials/typography" as *;
@use "../../partials/variables" as *;

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $secondary-color;
  height: 100%;
  // margin-bottom: 4vh;

  &__container {
    display: flex;
    flex-direction: row;
    width: 50vw;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    text-decoration: none;
    color: black;
  }
  &__title {
    font-size: 1.5rem;
    padding-left: 0.5rem;

    @include desktop {
      font-size: 2rem;
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  position: fixed;
  left: -100%;
  top: 70px;
  gap: 0;
  flex-direction: column;
  width: 100%;
  text-align: center;
  transition: 0.3s;
  background-color: $secondary-color;

  &--active {
    left: 0;
    z-index: 1;
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    list-style-type: none;
    margin: 16px 0;
    padding-left: 0;
  }

  &__item-link {
    text-decoration: none;
    color: black;
    font-size: 0.8rem;

    &:hover {
      color: $primary-color;
    }

    @include tablet {
      font-size: 1rem;
    }
    @include desktop {
      font-size: 1.5rem;
    }
  }
}

.hamburger {
  cursor: pointer;
  display: block;
  padding-top: 1rem;
  padding-right: 1rem;

  @include desktop {
    padding-top: 2rem;
  }

  &.active .bar:nth-child(2) {
    opacity: 0;
  }
  &.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  &.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}
