@use "../../partials/variables" as *;
@use "../../partials/typography" as *;

.score {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
  height: 35vh;

  @include desktop {
    height: auto;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }
  &__team-titles {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 8px;

    @include tablet {
      font-size: 3rem;
    }
    @include desktop {
      margin-top: 0;
    }
  }
  &__button {
    height: 18vh;
    width: 40vw;
    border-radius: 15px;
    border: 0px solid;
    margin-top: 1rem;
    font-size: 5rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 18px -4px rgba(0, 0, 0, 0.69);
    cursor: pointer;

    &:active {
      background-color: $highlight-color;
    }
    &:not(:active) {
      transition: background-color 1500ms ease-in-out;
    }

    @include tablet {
      height: 22vh;
      font-size: 7rem;
      margin-top: 1rem;
    }
    @include desktop {
      height: 30vh;
      width: 30vw;
    }
  }
  &__player-input {
    width: 40vw;
    height: 2rem;
    border: 0px;
    border-radius: 8px;
    color: black;

    @include tablet {
      height: 3rem;
      font-size: 1.2rem;
    }
    @include desktop {
      width: 30vw;
    }
  }
  &__submit {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__submit-button {
    height: 2rem;
    width: 40vw;
    border: 0px;
    border-radius: 8px;
    color: black;
    cursor: pointer;

    &:hover {
      background-color: $accent-color;
      color: white;
      transition: 0.5s;
    }

    @include tablet {
      height: 3rem;
      font-size: 1.2rem;
    }
    @include desktop {
      margin-top: 2rem;
    }
  }
  &__vs {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__vs-text {
    font-size: 1.5rem;
    margin-top: 9rem;

    @include tablet {
      font-size: 2.5rem;
    }
  }
}
