@use "../../partials/variables" as *;
@use "../../partials/typography" as *;

.court-map {
  border-radius: 20px;
  width: 75%;
  height: 60vh;
  margin-top: 3.5rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
}

.court-list {
  width: 100vw;
}
